.hero {
    &__image {
        position: relative;
        background-image: url('../assets/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
    }

    &__text {
        text-align: center;
        h1 {
            font-weight: 300;
            line-height: 1;
            font-size: 1.975rem;
            color: $darkBlue;
        }
    }
}